<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="home.css">

    <title>Document</title>
</head>
<body>
    <header id="navy">
        <img class="logo" src="{{ url_for('static', filename= '/media/vortex-vanguard-high-resolution-logo-transparent.png') }}" alt="logo ">
        <nav>
            <ul class="nav__links">
                <li>
                    <a href="/home">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="/map">Map</a>
                    <a href="/data">Data</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="cta">
            <button>CONTACT</button>
        </a>
    </header>
    <div class="hero">
        <div class="content">
          <h1>Welcome to</h1>
          <h1>Smart Utilities</h1>
          <a href="/map"><button type="button">Go To Map</button></a>
          <a href="/data"><button type="button">Check Data</button></a>
        </div>
        <!-- <div class="side-bar">
          <img src="https://i.ibb.co/3dGfMFK/menu.png" alt"menu icon" class="menu">
          <div class="social-links">
            <img src="https://i.ibb.co/9NKTKHF/fb.png" alt="">
            <img src="https://i.ibb.co/422KsjC/ig.png" alt="">
            <img src="https://i.ibb.co/9ZqmptB/tw.png" alt="">      
          </div>
          
          <div class="useful-links">
            <img src="https://i.ibb.co/3cXFLKg/share.png" alt="">
            <img src="https://i.ibb.co/7zfYDwm/info.png" alt="">      
          </div>
        </div> -->
        
      </div>
</body>
</html>
